---
import Base from "@/layouts/Base.astro";

// get static paths for this info page...
export const prerender = true;
---

<Base title="INFO">
  <section class="section">
    <div>
      <!-- also valid css style -->
      <div style={{ fontSize: "55px" }}>
        <button class="btn" onclick="console.log('hello', 'world')"
          >hello btn</button
        >
        <!-- show all meta env keys and values -->
        <!-- <pre
          class="justify-start text-start">{JSON.stringify(import.meta.env, null, 2)}
          </pre> -->
      </div>
    </div>
  </section>
</Base>
